section {
	
	margin: 0 auto;
	display: flex;
}

section:first-of-type .column:first-of-type {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	height: 10vh;
}

.column {
	margin: 2px;
	height: 80vh;
	border-style: solid;
	border-width: 3px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.column:first-of-type {
	flex-grow: .75;
	flex-shrink: .75;
	flex-basis: 0;
}