html, body {
	height: 100%;
	margin: 0;
}
.headBar {
	height: 10%;
	margin-bottom: 0px;
}
.row {
	display: flex;
	height: 90%;
	margin-top: 0px;
}
.column {
    float: left;
    width: 33%;
}

.column.left {
	background-color: blue;
	width: 50%;
}

.column.center {
	background-color: gray;
	width: 25%;
}

.column.right {
	background-color: yellow;
	width: 25%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

li a:
