@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	margin: 0;
	background-color: #36393F;
	font-family: 'Montserrat', sans-serif;
}

section {

	margin: 0;
	display: flex;
	font-family: 'Montserrat', sans-serif;
}
#groupAction {
	height: 100%;
	overflow-y: auto;
}
#settings_button {
	font-family: 'Montserrat', sans-serif;
	background-color: #36393F;
	border: none;
	color: white;
	cursor: pointer;
	padding-top: 12px;
	padding-left: 12px;
	padding-bottom: 12px;
	padding-right: 6px;
}
#settings_button:hover {
	background-color: grey;
}

#logout_button {
	background-color: #36393F;
	border: none;
	color: white;
	cursor: pointer;	
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 6px;
	padding-right: 12px;
	font-family: 'Montserrat', sans-serif;
}
#logout_button:hover {
	background-color: grey;
}

#invites_button {
	background-color: #36393F;
	border: none;
	color: white;
	cursor: pointer;	
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 6px;
	padding-right: 12px;
	font-family: 'Montserrat', sans-serif;
}
#invites_button:hover {
	background-color: grey;
}

#group_edit_btn {
	background-color: #36393F;
	border: none;
	font-family: 'Montserrat', sans-serif;
	color: white;
	cursor: pointer;	
	display: inline-block;
}
#group_edit_btn:hover {
	background-color: rgba(84, 84, 84, 0.5);
}
#group_invite {
	border: none;
	color: #36393F;
	cursor: pointer;	
	display: inline-block;	
	font-family: 'Montserrat', sans-serif;
	margin-left: 15px;
	background-color: white;
	border: 1px solid #36393F;
	border-radius: 5px;
	padding: 2px;
	margin-top: 4px;
	border-left: 8px solid #F39237;
}
#group_invite:hover {
	background-color: #F39237;
	border-color: #F39237;
	color: white;
}

#group_select_btn {
	border: none;
	cursor: pointer;	
	color: #36393F;
	display: inline-block;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 8px;
	text-transform: uppercase;
	font-weight: 800;
}
#group_select_btn:hover {
	text-decoration: underline;
}

#chat_button {
	font-family: 'Montserrat', sans-serif;
	border: none;
	cursor: pointer;	
	display: inline-block;
	color: #36393F;
	margin-left: 15px;
	background-color: white;
	border: 1px solid #36393F;
	border-radius: 5px;
	padding: 2px;
	margin-top: 4px;
	border-left: 8px solid #0E79B2;
}
#chat_button:hover {
	background-color: #0E79B2;
	border-color:#0E79B2; 
	color: white;
}

#column_buttons {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: auto;
}
#add_group_btn {
	font-family: 'Montserrat', sans-serif;
	border: none;
	color: white;
	background-color: #BF1363;
	cursor: pointer;
}
#add_group_btn:hover {
	background-color: grey;
}
#menu_bar {
	background-color: #36393F;
	width: 100%;
}
#columnOne {
	background-color: #36393F;
}
#columnOne_two {
	overflow-y: auto;
}

#addChat {
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;	
	display: inline-block;
	color: #36393F;
	margin-left: 15px;
	background-color: white;	
	border: 1px solid #36393F;
	border-radius: 5px;
	padding: 2px;
	margin-top: 4px;
	border-left: 8px solid #BF1363;
}
#addChat:hover {
	background-color: #BF1363;
	border-color: #BF1363;
	color: white;
}


.menu_button {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	cursor: pointer;
	background-color: white;
	border: 2px solid #008CBA;
	border-radius: 4px;
	text-decoration: none;
	margin: 2px 4px;
	padding: 5px 8px;
	width: 50%;
	transition-duration: 0.4s;
}

.menu_button:hover {
	background-color: #008CBA;
  	color: white;
}

.column1 {
	margin-right: 0px;
	top: 0;
	bottom: 0;
	width: 30%;
}

.column2 {
	top: 0;
	bottom: 0;
	width: 80%;
	background-color: #686B72;
}

.column3 {
	border-top: 1px solid white;
	top: 0;
	bottom: 0;
	width: 80%;
}


.messaging {
	top: 0;
	height: 85vh;
	overflow-y: auto;
}


/***************************************

Modal Stuff

***************************************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box background-color: #fefefe;*/
.modal-content {
  background-color: #36393F;
  color: #FFFFFF;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
  font-size: 150%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/******************************
 scrollbar stuff
 ************************** */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* **************************************************************

switch box styling shit 

*****************************************************************/
#switch_container {
	float: right;
	padding-right: 1px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #03CEA4;
}

input:focus + .slider {
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/*************************************************** 

message display stuff 

************************************************/
#message_incoming {
	display: inline-block;
	/*background-color: #FCE3E9;*/
	background-color: white;
	border-top: 12px solid #FCBDCE;
	border-radius: 0px 8px 8px 8px;
	margin: 15px;
	max-width: 50%;
	padding: 10px;
	text-align: left;
	font-size: 85%;
}


#message_outgoing {
	display: inline-block;
	background-color: white;
	border-top: 12px solid #0E79B2;
	border-radius: 0px 8px 8px 8px;
	margin: 15px;
	max-width: 50%;
	padding: 10px;
	float: right;
	font-size: 85%;
	color: black;
}


#incoming_container {
	width: 100%;
	display: inline-block;
}

#outgoing_container {
	width: 100%;
	display: inline-block;
}
/***************************************

message input stuff

****************************************/

#textAreaInput {
	border: none;
	border-radius: 5px;
	width: 98%;
}

#input_content {
	width: 80%;
	float: left;
}
#message_box {
	border: none;
	width: 87%;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	position: relative;
	background-color: #36393F;
}
#message_button {
	background-color: #0E79B2;
	color: white;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	border-radius: 5px;
}


/******************************

markdown editor header 

********************************/
#editor_header {
	background-color: #36393F;
	display: inline-block;
	width: 100%;
	margin-top: 5px;
}

#md_input {
	width: 100%;
     -webkit-box-sizing: border-box;
     resize: vertical;
     height: 300px;
}

#md_preview {
	overflow-y: auto;
	overflow-x: scroll;
	max-height: 85vh;
	margin-left: 5px;
	background-color: white;
	display: none;
}

#file_name {
	background-color: #36393F;
	font-family: 'Montserrat', sans-serif;
	border: none;
	color: white;
	margin-left: 2px;
	font-size: 110%;
}
#file_name::placeholder {
	color: white;
}

#file_entity {
	border: none;
	padding: 3px;
	margin-left: 15px;
	margin-top: 5px;
	border-radius: 5px;
	cursor: pointer;
	background-color: white;
	color: #36393F;
	border: 1px solid #36393F;
	border-left: 8px solid #03CEA4;
}
#file_entity:hover {
	color: white;
	background-color: #03CEA4;
}

#toggle_style {
	margin-left: 90px;
	vertical-align: middle;
	color: #03CEA4;
}
#file_options {
	background-color: #36393F;
	display: flex;
  	justify-content: center;
  	margin-top: 3px;
}

#file_options > button {	
	border: none;
	padding: 5px;	
	margin-left: 5px;
	cursor: pointer;
	background-color: white;
	color: #36393F;
	border-left: 5px solid #03CEA4;
}

#file_options > button:hover{
	color: white;
	background-color: #03CEA4;
}

#file_header {
	color: #36393F;
	display: inline-block;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 8px;
	text-transform: uppercase;
	font-weight: 200;
}

*:focus {
	outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

